.Input {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;

  border: 1px solid #079B94;
  border-radius: 10px;
}

.Input__text {
  width: 100%;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  letter-spacing: 0.05em;

  background: none;
  border: none;
  outline: none;

  color: #000000;
}