.HomePage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(0deg, rgba(7, 155, 148, 0.8) 0%, rgba(85, 221, 196, 0.5) 100%);
}

.Main {
  display: flex;
  flex-direction: row;
}

.Gakumon {
  display: flex;
  flex-direction: column;
}
